*{
    background-color: lightblue;
}  

.img{
    float: left;

}


.grid-container  {
    display: grid;
    grid-template-areas:
    'header'
    'main';
    gap: 5px;
    background-color: #79b6e7;
    padding: 14px;
}

.grid-container > div {
    background-color: rgba(94, 174, 211, 0.8);
    text-align: left;
    padding: 10px;
    font-size: 20px;
}

table, th, td {
    border:1px solid rgb(105, 167, 172);
}

.blue {
    background-color: purple;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    margin: 10px;
    padding: 5px;
}

.red {
    background-color:black;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    margin: 10px;
    padding: 5px;
}

.yellow {
    background-color:darkblue;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    margin: 10px;
    padding: 5px;
}

.purple {
    background-color: rgb(63, 141, 187);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    margin: 10px;
    padding: 5px;
}

.orange {                                                                
    background-color:red;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    margin: 10px;
    padding: 5px;
}

body {
    color: black;
}
.dark-mode {
    background-color: black;
    color: white;

}



.container {
    position: relative;
    width: 35%;
    content: "";
    clear: both;
    display: table;
}
.image {
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: maroon;
}
.container:hover .overlay {
    opacity: 1;
}
.text {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color:lightblue;
    overflow: hidden;
}

  /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #6404ff;
    padding: 15px 57px;
    text-decoration: none;
    font-size: 17px;
}

  /* Change the color of links on hover */

.topnav a:hover {
    background-color: #2aeba4;
    color: darkcyan;
}

  /* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}


html {
    box-sizing: border-box;
}


/* Three columns side by side */
.column1 {
    float: left;
    width: 30%;
    margin-bottom: 10px;
    padding: 0 5px;
}

  /* Display the columns below each other instead of side by side on small screens */

@media screen and (max-width: 650px) {
    .column1 {
        width: 100%;
        display: block;
    }
}

  /* Add some shadows to create a card effect */
.card1 {
    box-shadow: 0 1px 80px 0 rgb(255, 217, 0);
}

  /* Some left and right padding inside the container */
.container1 {
    padding: 0 10px;
}

  /* Clear floats */
.container1::after, .row1::after {
    content: "";
    clear: both;
    display: table;
}

.title1 {
    color: grey;
}

.button1 {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button1:hover {
    background-color: #555;
}


html {
    cursor: url(projectimages/soccer.jpg), auto;
    height: 100%;
}


* {
    box-sizing: border-box;
}


    

.column33 {
    float: left;
    width: 50%;
}


th, td {
    text-align: left;
    padding: 10px;
}



div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: rgb(0, 0, 0);
    text-align: left;
    text-decoration: none;
}


