*{
    background-color: lightblue;
}  

.img{
    float: left;

}


.grid-container  {
    display: grid;
    grid-template-areas:
    'header'
    'main';
    gap: 5px;
    background-color: #79b6e7;
    padding: 14px;
}

.grid-container > div {
    background-color: rgba(94, 174, 211, 0.8);
    text-align: left;
    padding: 10px;
    font-size: 20px;
}

table, th, td {
    border:1px solid rgb(105, 167, 172);
}

.blue {
    background-color: purple;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    margin: 10px;
    padding: 5px;
}

.red {
    background-color:black;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    margin: 10px;
    padding: 5px;
}

.yellow {
    background-color:darkblue;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    margin: 10px;
    padding: 5px;
}

.purple {
    background-color: rgb(63, 141, 187);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    margin: 10px;
    padding: 5px;
}

.orange {                                                                
    background-color:red;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    margin: 10px;
    padding: 5px;
}

body {
    color: black;
}
.dark-mode {
    background-color: black;
}



.container {
    position: relative;
    width: 35%;
}
.image {
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: maroon;
}
.container:hover .overlay {
    opacity: 1;
}
.text {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}